<h3>Documents</h3>
<hr />

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.id %></td>
        <td><%= document.slug %></td>
        <td>
          <%= link_to "Edit", edit_document_path(document) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>