<div class="alert alert-error hide">
  <a class="close" data-dismiss="alert">×</a>
  <div id="error-message"></div>
</div>
<div class="alert alert-success hide">
  <a class="close" data-dismiss="alert">×</a>
  <div id="success-message"></div>
</div>
